    body {
      background-color: #e8ffff;
      color: #213e3b
    }

    hr {
      border-style:dotted none none none;
      border-color: grey;
      border-width: 5px;
      width: 5%
    }

    h1 {
      color: #213e3b;
    }

    h3{
      color: #41aea9;
    }
